body {
  text-align: center;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.158);
  background-color: #fff;
}

.top-bar h1 {
  color: #00f;
}

.top-left {
  display: flex;
  align-items: center;
}

.links a {
  color: #000;
  text-decoration: none;
  margin-left: 50px;
}

.avatar {
  border: 1px solid #00f;
  width: 50px;
  height: 50px;
  color: #00f;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 8px 0.1px rgba(0, 0, 0, 0.212);
}

.fa-user {
  color: #00f;
  font-size: 20px;
}
